@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

@font-face {
    font-family: 'Circe-ExtraBold';
    src: url('../fonts/Circe-ExtraBold.eot');
    src: url('../fonts/Circe-ExtraBold?#iefix') format('embedded-opentype'),
         url('../fonts/Circe-ExtraBold.woff') format('woff'),
         url('../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Bold.eot');
	src: local('../fonts/Circe Bold'), local('Circe-Bold'),
		url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Bold.woff') format('woff'),
		url('../fonts/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot');
	src: local('../fonts/Circe'), local('Circe-Regular'),
		url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
font-family: 'SF-UI-Display-Light';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Light'), url('../fonts/sf-ui-display-light.woff') format('woff');
}
